<form>
  From: {{date-picker date=graphStartDate format="MMMM Do YYYY" valueFormat='YYYY-MM-DD' maxDate=pickerMaxDate placeholder="Start Date"}}
  To: {{date-picker date=graphEndDate format="MMMM Do YYYY" valueFormat='YYYY-MM-DD' maxDate=pickerMaxDate placeholder="End Date"}}
</form>

<div class="chart-container {{if loadingData 'loading' 'loaded'}}">
  {{c3-chart data=controllerData axis=axis bar=bar}}

  <div class="loading-spinner {{loadingData:show:hide}}">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<h4>Busiest Day</h4>
<p>{{maxPageview}} pageviews on {{maxDate}}</p>

<h4>Slowest Day</h4>
<p>{{minPageview}} pageviews on {{minDate}}</p>
