<h1>Contact</h1>
<div class="alert hide"></div>
<form accept-charset="UTF-8" {{action "submitContact" on="submit"}} method="POST" class="contact-form">
  <input type="hidden" name="utf8" value="✓">

  <label for="name">Name:</label>
  {{input value=contact.name placeholder="Name" id="name" required="true"}}

  <label for="email">Email:</label>
  {{input value=contact.email placeholder="Email address" id="email" required="true"}}

  <label for="reason_for_contact">Reason for contact:</label>
  {{input value=contact.reason placeholder="Reason for contact" id="reason_for_contact" required="true"}}

  <label for="comments">Comments:</label>
  <p>{{textarea value=contact.comments class="post-text-area"}}</p>

  <p><button type="submit" class="btn">Submit</button></p>
</form>
