{{head-title "Blog"}}
{{#each}}
  <div class="posts">
    <div class="blog-left">
      <span class="post-date">
        <span class="inner-date">{{formatted_date}}</span>
      </span>
    </div>
    <div class="blog-right">
      <h3 class="posts-title">{{link-to title 'posts.show' this}}</h3>
      <span class="posts-excerpt">{{excerpt}} {{#link-to "posts.show" this}} [Read More] {{/link-to}}</span>
    </div>
  </div>
{{/each}}
{{page-numbers currentPage=page totalPages=totalPages}}
