{{head-title model.title}}
<div class="post">
  <h1 class="post-title">{{model.title}}</h1>
  <div class="title-sub-heading">Posted: {{model.fullFormattedDate}}</div>

  {{format-markdown model.body}}

  {{c-disqus}}
</div>

<meta name="title" content={{model.title}} />
<meta name="description" content={{model.excerpt}} />

{{!-- Facebook --}}
<meta property="og:title" content={{model.title}} />
<meta property="og:site_name" content="Robert DeLuca" />
<meta property="og:description" content={{model.excerpt}} />
