{{head-title title}}
<div class="post">
  <h1 class="post-title">{{title}}</h1>

  {{format-markdown body}}

  {{c-disqus}}
</div>

<meta name="title" {{bind-attr content=title}} />
<meta name="description" {{bind-attr content=excerpt}} />

{{!-- Facebook --}}
<meta property="og:title" {{bind-attr content=title}} />
<meta property="og:site_name" content="Robert DeLuca" />
<meta property="og:description" {{bind-attr content=excerpt}} />
