<h2>Timeline: {{model.title}}</h2>
<div class="timeline">
  <div class="new-about-inner">
    <form {{action "save" on='submit'}}>
      <p>{{input value=model.title placeholder="Title" class="title"}}</p>
      <p>{{date-picker date=model.eventDate format="MMMM Do YYYY" valueFormat='date' class="date"}}</p>
      <p>{{textarea value=model.description placeholder="Body" class="timeline-text-area description"}}</p>
      <p><a href="#" {{action "togglePreview"}}>Toggle Preview</a></p>

      <label for="is_published">Published:</label>
      {{view "dk-select" content=published id="isPublished" value=model.isPublished}}
      <ul class="edit-posts-list">
        <li><a href="#" {{action "destroy"}}>Delete</a></li>
      </ul>
      <button type="submit" class="btn">Save</button>
    </form>
  </div>
  <div class="timeline-preview preview {{openPreview:show:hide}}">
    <div class="timeline-card">
      <h4>{{model.title}}</h4>
      {{{format-markdown model.description}}}
      <span class="date">{{model.formattedDate}}</span>
    </div>
  </div>
</div>
