<div class="alert">{{!-- Set in the controller --}}</div>
<h2>New Timeline Event</h2>
<form {{action "saveEvent" on='submit'}}>
  <p>{{input value=timeline.title placeholder="Title"}}</p>
  <p>{{input value=timeline.date placeholder="Date"}}</p>
  <p>{{textarea value=timeline.description placeholder="Body" class="timeline-text-area"}}</p>
  <label for="is_published">Published:</label>
  {{view Ember.Select
    content=published
    selectionBinding="selectedState"
  }}
  <p><button type="submit" class="btn">Save</button></p>
</form>
<div class="timeline-preview hide">
  {{!-- <h1>{{timeline.title}}</h1> --}}

  {{!-- {{format-markdown timeline.body}} --}}
</div>
