{{head-title "Blog"}}
{{#each model as |post|}}
  <div class="posts">
    <div class="blog-left">
      <div class="post-date">
        <span class="screen-reader">Date of Post {{post.formattedDate}}</span>
        <span class="inner-date" aria-hidden="true">{{post.formattedDate}}</span>
      </div>
    </div>
    <div class="blog-right">
      <h3 class="posts-title">{{link-to post.title 'posts.show' post.postSlug}}</h3>
      <span class="posts-excerpt">{{post.excerpt}} {{#link-to "posts.show" post.postSlug}} [Read More] {{/link-to}}</span>
    </div>
  </div>
{{/each}}
{{page-numbers content=content}}
