<form {{action "updateData" on='submit'}}>
  From: {{date-picker date=graphStartDate format="MMMM Do YYYY" valueFormat='YYYY-MM-DD' maxDate=maxDate placeholder="Start Date"}}
  To: {{date-picker date=graphEndDate format="MMMM Do YYYY" valueFormat='YYYY-MM-DD' maxDate=maxDate placeholder="End Date"}}
  <button type="submit" class="btn">Save</button>
</form>

<div class="chart-container {{loadingData:loading:loaded}}">
  {{c3-chart data=controllerData axis=axis bar=bar}}

  <div class="loading-spinner {{loadingData:show:hide}}">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

