<form {{action "updateData" on='submit'}}>
  From: {{pikaday-input value=graphStartDate class="date" format="MMMM Do YYYY"}}
  To: {{pikaday-input value=graphEndDate class="date" format="MMMM Do YYYY"}}
  <button type="submit" class="btn">Save</button>
</form>

<div class="chart-container {{loadingData:loading:loaded}}">
  {{c3-chart data=controllerData axis=axis bar=bar}}

  <div class="loading-spinner {{loadingData:show:hide}}">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

