<div class="dashboard-container">
  <div class="dashboard-main">
    <h2>Drafts</h2>
    {{#each model as |post|}}
      {{#unless post.isPublished}}
        <div class="dashboard-posts-list">
          <h3 class="posts-title">{{link-to post.title 'posts.edit' post}}</h3>
          <span class="dashboatd-date">{{post.formattedDate}}</span>
        </div>
      {{/unless}}
    {{/each}}

    <h2>Published</h2>
    {{#each model as |post|}}
      {{#if post.isPublished}}
        <div class="dashboard-posts-list">
          <h3 class="posts-title">{{link-to post.title 'posts.edit' post}}</h3>
          <span class="dashboatd-date">{{post.formattedDate}}</span>
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="dashboard-sidebar">
    <h4>Recent Contacts</h4>
    {{#if contacts}}
      {{#each contacts as |contact|}}
        <div class="recent-contact">
          <p><strong>Name:</strong> {{contact.name}}</p>
          <p><strong>Reason:</strong> {{contact.reason}}</p>
        </div>
      {{/each}}
    {{else}}
      Looks like you haven't had any contacts
    {{/if}}
  </div>
</div>
